#header {
	height:20%;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
	height:500px;
    padding-top:100px;
	padding-bottom:100px;
}
#footer {
	height:10%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}