#header {
	height:20%;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    padding-top:50px;
	padding-bottom:50px;
}
#footer {
	height:10%;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#content {
	margin: 10px;
	padding:10px;
}
.button {
    background-color: #000000;
    border-radius: 15px;
    color: white;
	width: 210px;
    padding: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
	margin-top: 20px;
}
.button:hover {
    background-color: #202020;
}
.home {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.home:hover {
    background-color: #202020;
}
.input {
	background-color: white;
    color: black;
    border-radius: 5px;
}
.input2 {
	font-size: 50px;
	margin: 10px;
}
.content{
	font-size: 30px;
}
