<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="pl-PL">
 
<head>
    <meta charset="UTF-8">
    <title>Python Flask App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Strona główna</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Zaloguj się</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Zarejestruj się</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Aplikacja Testowa</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Rejestracja</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; UAM 2016</p>
        </footer>
 
    </div>
</body>
 
</html>