<!DOCTYPE html>
<html lang="pl-PL">
<!--html lang="en">-->
  <head>
    <meta charset="UTF-8">
    <title>Python Flask App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.3.min.js"></script>
    
    <script type="text/javascript">
    $(function() {
        $('#btnSignUp').click(function() {
     
            $.ajax({
                url: '/signUp',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-left">
            <li role="presentation" class="active"><a href="javascript:history.back()">Wstecz</a>
            </li>
          </ul>
          <ul class="nav nav-pills pull-right">
            <!--<li role="presentation" ><a href="main">Strona główna</a></li>-->
            <li role="presentation" ><a href="/">Strona główna</a></li>
            <li role="presentation"><a href="/showSignIn">Zaloguj się</a></li>
            <li role="presentation" class="active"><a href="#">Zarejestruj się</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><center>Python Flask</center></h3>
      </div>
 
      <div class="jumbotron">
        <h1>Aplikacja Testowa</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Imię" required autofocus>
        <label for="inputSurname" class="sr-only">Surname</label>
        <input type="surname" name="inputSurname" id="inputSurname" class="form-control" placeholder="Nazwisko" required>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Login (email)" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Hasło" required>
        <!--NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN--> 
        <label for="inputType" class="sr-only">Type</label>
        <input type="type" name="inputType" id="inputType" class="form-control" placeholder="Rodzaj użytkownika" required>
        <label for="inputOrganization" class="sr-only">Organization</label>
        <input type="organization" name="inputOrganization" id="inputOrganization" class="form-control" placeholder="Organizacja" required>
        <!--NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN--> 
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Potwierdź rejestrację</button>
      </form>
      <!--<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Potwierdź rejestrację</button>-->
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; UAM 2016</p>
      </footer>
 
    </div>
  </body>
</html>