<md-dialog ng-controller="Dialog"  aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div  class="md-toolbar-tools">
                <h2>Edit Mode</h2>
               
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:1280px; height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Operatorzy">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">{{strings}}</h1>
                      
                    </md-content>
                </md-tab>
                <md-tab label="Cechy">
                    <md-content class="md-padding">
                        <md-button class="md-primary md-raised" ng-click="dodajCeche()">
                           Add Operator
                        </md-button>
                    </md-content>
                </md-tab>
                <md-tab label="Czesci">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                      p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            
            <span flex></span>
            <md-button ng-click="answer('Save')">
                Save
            </md-button>
            <md-button ng-click="answer('Cancel')" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>